---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Experience">
  <h1 class="text-4xl font-bold text-center mb-12 bg-gradient-to-r from-[#64B6FF] to-[#A78BFA] text-transparent bg-clip-text">
    Experience
  </h1>

  <div class="space-y-8">
    <!-- Timeline line -->
    <div class="relative space-y-8">
      <div class="absolute left-0 top-0 bottom-0 w-0.5 bg-gradient-to-b from-[#64B6FF] to-[#A78BFA] ml-5 md:ml-8"></div>

      <!-- Experience 1 -->
      <div class="relative pl-12 md:pl-16">
        <div class="absolute left-0 w-10 h-10 bg-slate-800 border-2 border-[#64B6FF] rounded-full flex items-center justify-center ml-0.5 md:ml-3.5">
          <img src={`${import.meta.env.BASE_URL}/assets/checkpoint_logo.png`} alt="React" class="w-6 h-6 bg-white rounded-md border-1 border-gray-500" />
        </div>
        <div class="bg-slate-800/50 p-6 rounded-lg shadow-lg border border-slate-700/50 transform transition duration-300 hover:scale-[1.02] hover:shadow-xl">
          <div class="flex flex-col md:flex-row md:items-center md:justify-between mb-4">
            <h3 class="text-xl font-semibold text-[#64B6FF]">Frontend Developer</h3>
            <p class="text-gray-300">Checkpoint Systems Inc. • Nov 2023-Present</p>
          </div>
          <ul class="space-y-3 text-gray-300">
            <li class="flex items-start">
                <svg class="w-5 h-5 text-[#A78BFA] mt-1 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span>Architect and maintain responsive frontend interfaces across multiple high-traffic e-commerce platforms processing millions in annual revenue</span>
              </li>
            <li class="flex items-start">
              <svg class="w-5 h-5 text-[#A78BFA] mt-1 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span>Develop server-side functionality, collaborating with backend developers to implement complex features, API integrations, and enhance plugin performance.</span>
            </li>
            <li class="flex items-start">
              <svg class="w-5 h-5 text-[#A78BFA] mt-1 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span>Manage large-scale database operations through optimized SQL queries, handling millions of records across products, customers, and orders ensuring efficient data retrieval and system performance.</span>
            </li>
            <li class="flex items-start">
                <svg class="w-5 h-5 text-[#A78BFA] mt-1 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span>Contribute to technical improvements by implementing new solutions and frameworks, while solving complex challenges across frontend architecture, database optimization, and system security.</span>
              </li>
          </ul>
          <!-- <div class="mt-4 flex flex-wrap gap-2">
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">React</span>
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">TypeScript</span>
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">Node.js</span>
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">MySQL</span>
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">Tailwind</span>
          </div> -->
        </div>
      </div>

      <!-- Experience 2 -->
      <div class="relative pl-12 md:pl-16">
        <div class="absolute left-0 w-10 h-10 bg-slate-800 border-2 border-[#A78BFA] rounded-full flex items-center justify-center ml-0.5 md:ml-3.5">
            <img src={`${import.meta.env.BASE_URL}/assets/samaha_icon.JPG`} alt="React" class="w-6 h-6 bg-white rounded-md border-1 border-gray-500" />
        </div>
        <div class="bg-slate-800/50 p-6 rounded-lg shadow-lg border border-slate-700/50 transform transition duration-300 hover:scale-[1.02] hover:shadow-xl">
          <div class="flex flex-col md:flex-row md:items-center md:justify-between mb-4">
            <h3 class="text-xl font-semibold text-[#A78BFA]">Software Developer I</h3>
            <p class="text-gray-300">Samaha • Sept 2022 - Nov 2023</p>
          </div>
          <ul class="space-y-3 text-gray-300">
            <li class="flex items-start">
              <svg class="w-5 h-5 text-[#64B6FF] mt-1 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span>Contributed to developing a scalable website generation pipeline that reduced development time by 60%, implementing React.js frontend components integrated with Payload CMS, MongoDB, and AWS infrastructure for rapid client website deployment.</span>
            </li>
            <li class="flex items-start">
              <svg class="w-5 h-5 text-[#64B6FF] mt-1 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span>Built and maintained a library of reusable React components and integration these components with headless CMS architecture to allow clients to manage their own content.</span>
            </li>
            <li class="flex items-start">
              <svg class="w-5 h-5 text-[#64B6FF] mt-1 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span>Built polished, responsive user interfaces for multiple client websites using React.js, Vue.js, TypeScript, and Tailwind CSS, delivering custom frontend solutions that aligned with each client's brand and design requirements.</span>
            </li>
          </ul>
          <div class="mt-4 flex flex-wrap gap-2">
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">React</span>
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">JavaScript</span>
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">Payload CMS</span>
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">MongoDB</span>
          </div>
        </div>
      </div>

      <!-- Experience 3 -->
      <div class="relative pl-12 md:pl-16">
        <div class="absolute left-0 w-10 h-10 bg-slate-800 border-2 border-[#64B6FF] rounded-full flex items-center justify-center ml-0.5 md:ml-3.5">
            <img src={`${import.meta.env.BASE_URL}/assets/riipen_logo.png`} alt="React" class="w-6 h-6 bg-white rounded-md border-1 border-gray-500" />
        </div>
        <div class="bg-slate-800/50 p-6 rounded-lg shadow-lg border border-slate-700/50 transform transition duration-300 hover:scale-[1.02] hover:shadow-xl">
          <div class="flex flex-col md:flex-row md:items-center md:justify-between mb-4">
            <h3 class="text-xl font-semibold text-[#64B6FF]">Software Developer Intern</h3>
            <p class="text-gray-300">Riipen • Sept 2021 - Aug 2022</p>
          </div>
          <ul class="space-y-3 text-gray-300">
            <li class="flex items-start">
              <svg class="w-5 h-5 text-[#A78BFA] mt-1 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span>Developed responsive frontend features using React, HTML5, CSS, and JavaScript, taking multiple projects from mockup to deployment while incorporating stakeholder feedback.</span>
            </li>
            <li class="flex items-start">
              <svg class="w-5 h-5 text-[#A78BFA] mt-1 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span>Collaborated directly with clients to gather requirements and worked with UI teams to implement design specifications into functional web applications.</span>
            </li>
            <li class="flex items-start">
              <svg class="w-5 h-5 text-[#A78BFA] mt-1 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span>Gained hands-on experience with UI design principles and modern web frameworks including Angular.js, Vue.js through building client-facing applications.</span>
            </li>
          </ul>
          <div class="mt-4 flex flex-wrap gap-2">
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">React</span>
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">JavaScript</span>
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">Angular</span>
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">UI Design</span>
          </div>
        </div>
      </div>

    <!-- Experience 4 -->
    <div class="relative pl-12 md:pl-16 mb-12">
        <div class="absolute left-0 w-10 h-10 bg-slate-800 border-2 border-[#A78BFA] rounded-full flex items-center justify-center ml-0.5 md:ml-3.5">
            <img src={`${import.meta.env.BASE_URL}/assets/camp_logo.png`} alt="React" class="w-6 h-6 bg-white rounded-md border-1 border-gray-500" />
        </div>
        <div class="bg-slate-800/50 p-6 rounded-lg shadow-lg border border-slate-700/50 transform transition duration-300 hover:scale-[1.02] hover:shadow-xl">
          <div class="flex flex-col md:flex-row md:items-center md:justify-between mb-4">
            <h3 class="text-xl font-semibold text-[#A78BFA]">Coding Curriculum Lead</h3>
            <p class="text-gray-300">Camp Tournesol • Feb 2021 - June 2021</p>
          </div>
          <ul class="space-y-3 text-gray-300">
            <li class="flex items-start">
              <svg class="w-5 h-5 text-[#64B6FF] mt-1 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span>Build coding projects using Python, HTML, CSS, JavaScript, and Scratch for students ranging from 10-18</span>
            </li>
            <li class="flex items-start">
              <svg class="w-5 h-5 text-[#64B6FF] mt-1 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span>Built a robust coding curriculum which consists of coding lessons, projects, and engaging PowerPoints</span>
            </li>
            <li class="flex items-start">
              <svg class="w-5 h-5 text-[#64B6FF] mt-1 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span>Taught coding courses to students and explained complex concepts according to their understanding</span>
            </li>
          </ul>
          <div class="mt-4 flex flex-wrap gap-2">
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">Node.js</span>
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">Express</span>
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">MongoDB</span>
            <span class="px-3 py-1 bg-slate-700/50 rounded-full text-sm text-gray-300">Socket.io</span>
          </div>
        </div>
      </div>


    </div>
  </div>
</Layout>