---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="icon" href="/portfolio/favicon.ico" />
</head>
<body class="text-white min-h-screen flex justify-center">
  <div class="mt-8 w-full max-w-3xl px-6"> 
    <nav class="py-2 flex justify-center space-x-6">
        <a href={`${import.meta.env.BASE_URL}`} class="font-bold hover:underline">Overview</a>
		<a href={`${import.meta.env.BASE_URL}/experience`} class="font-bold hover:underline">Experience</a>
		<a href={`${import.meta.env.BASE_URL}/projects`} class="font-bold hover:underline">Projects</a>
    </nav>
    <main class="mt-6">
      <slot />
    </main>
  </div>
</body>
</html>

<style>
body {
  background: linear-gradient(135deg, #1E3A8A, #0A192F); /* Blue-navy to dark navy */
}

nav {
	
    border-bottom: 4px solid;
	@media screen and (min-width: 700px) {
		margin: 0px 25%;
	}

	@media screen and (min-width: 500px) and (max-width: 700px) {
		margin: 0px 15%;
	}
}

nav a {
  transition: all 0.2s ease-in-out;
  padding: 8px 12px;
}

nav a:hover {
  background-color: rgba(185, 212, 235, 0.825);
  color: #122A4E; /* Light blue highlight */
  border-radius: 6px;
  transform: scale(1.1);
}

</style>